<div>
  <h2 id="page-heading" data-cy="OrderHeading">
    <span>Orders</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span>Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-order"
        [routerLink]="['/order/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span> Create a new Order </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <jhi-filter [filters]="filters"></jhi-filter>

  <div class="alert alert-warning" id="no-result" *ngIf="orders?.length === 0">
    <span>No Orders found</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="orders && orders.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
      <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
        <th scope="col" jhiSortBy="id">
          <div class="d-flex">
            <span>ID</span>
            <fa-icon class="p-1" icon="sort"></fa-icon>
          </div>
        </th>
        <th scope="col" jhiSortBy="orderNo">
          <div class="d-flex">
            <span>Order No</span>
            <fa-icon class="p-1" icon="sort"></fa-icon>
          </div>
        </th>
        <th scope="col" jhiSortBy="companyAmount">
          <div class="d-flex">
            <span>Company Amount</span>
            <fa-icon class="p-1" icon="sort"></fa-icon>
          </div>
        </th>
        <th scope="col" jhiSortBy="restaurantAmount">
          <div class="d-flex">
            <span>Restaurant Amount</span>
            <fa-icon class="p-1" icon="sort"></fa-icon>
          </div>
        </th>
        <th scope="col" jhiSortBy="deliveryFee">
          <div class="d-flex">
            <span>Delivery Fee</span>
            <fa-icon class="p-1" icon="sort"></fa-icon>
          </div>
        </th>
        <th scope="col" jhiSortBy="itemsPrice">
          <div class="d-flex">
            <span>Items Price</span>
            <fa-icon class="p-1" icon="sort"></fa-icon>
          </div>
        </th>
        <th scope="col" jhiSortBy="discount">
          <div class="d-flex">
            <span>Discount</span>
            <fa-icon class="p-1" icon="sort"></fa-icon>
          </div>
        </th>
        <th scope="col" jhiSortBy="total">
          <div class="d-flex">
            <span>Total</span>
            <fa-icon class="p-1" icon="sort"></fa-icon>
          </div>
        </th>
        <th scope="col" jhiSortBy="latitude">
          <div class="d-flex">
            <span>Latitude</span>
            <fa-icon class="p-1" icon="sort"></fa-icon>
          </div>
        </th>
        <th scope="col" jhiSortBy="longitude">
          <div class="d-flex">
            <span>Longitude</span>
            <fa-icon class="p-1" icon="sort"></fa-icon>
          </div>
        </th>
        <th scope="col" jhiSortBy="plusCode">
          <div class="d-flex">
            <span>Plus Code</span>
            <fa-icon class="p-1" icon="sort"></fa-icon>
          </div>
        </th>
        <th scope="col" jhiSortBy="paymentType">
          <div class="d-flex">
            <span>Payment Type</span>
            <fa-icon class="p-1" icon="sort"></fa-icon>
          </div>
        </th>
        <th scope="col" jhiSortBy="isApprovedByDriver">
          <div class="d-flex">
            <span>Is Approved By Driver</span>
            <fa-icon class="p-1" icon="sort"></fa-icon>
          </div>
        </th>
        <th scope="col" jhiSortBy="isApprovedByRestaurant">
          <div class="d-flex">
            <span>Is Approved By Restaurant</span>
            <fa-icon class="p-1" icon="sort"></fa-icon>
          </div>
        </th>
        <th scope="col" jhiSortBy="isPayed">
          <div class="d-flex">
            <span>Is Payed</span>
            <fa-icon class="p-1" icon="sort"></fa-icon>
          </div>
        </th>
        <th scope="col" jhiSortBy="amountRecived">
          <div class="d-flex">
            <span>Amount Recived</span>
            <fa-icon class="p-1" icon="sort"></fa-icon>
          </div>
        </th>
        <th scope="col" jhiSortBy="amountRemaining">
          <div class="d-flex">
            <span>Amount Remaining</span>
            <fa-icon class="p-1" icon="sort"></fa-icon>
          </div>
        </th>
        <th scope="col" jhiSortBy="customerNotes">
          <div class="d-flex">
            <span>Customer Notes</span>
            <fa-icon class="p-1" icon="sort"></fa-icon>
          </div>
        </th>
        <th scope="col" jhiSortBy="restaurantNotes">
          <div class="d-flex">
            <span>Restaurant Notes</span>
            <fa-icon class="p-1" icon="sort"></fa-icon>
          </div>
        </th>
        <th scope="col" jhiSortBy="driverNotes">
          <div class="d-flex">
            <span>Driver Notes</span>
            <fa-icon class="p-1" icon="sort"></fa-icon>
          </div>
        </th>
        <th scope="col" jhiSortBy="orderStatus">
          <div class="d-flex">
            <span>Order Status</span>
            <fa-icon class="p-1" icon="sort"></fa-icon>
          </div>
        </th>
        <th scope="col" jhiSortBy="orderType">
          <div class="d-flex">
            <span>Order Type</span>
            <fa-icon class="p-1" icon="sort"></fa-icon>
          </div>
        </th>
        <th scope="col" jhiSortBy="deliveredAt">
          <div class="d-flex">
            <span>Delivered At</span>
            <fa-icon class="p-1" icon="sort"></fa-icon>
          </div>
        </th>
        <th scope="col" jhiSortBy="notes">
          <div class="d-flex">
            <span>Notes</span>
            <fa-icon class="p-1" icon="sort"></fa-icon>
          </div>
        </th>
        <th scope="col" jhiSortBy="customer.name">
          <div class="d-flex">
            <span>Customer</span>
            <fa-icon class="p-1" icon="sort"></fa-icon>
          </div>
        </th>
        <th scope="col" jhiSortBy="coupon.code">
          <div class="d-flex">
            <span>Coupon</span>
            <fa-icon class="p-1" icon="sort"></fa-icon>
          </div>
        </th>
        <th scope="col" jhiSortBy="driver.name">
          <div class="d-flex">
            <span>Driver</span>
            <fa-icon class="p-1" icon="sort"></fa-icon>
          </div>
        </th>
        <th scope="col" jhiSortBy="deliveryAddress.address">
          <div class="d-flex">
            <span>Delivery Address</span>
            <fa-icon class="p-1" icon="sort"></fa-icon>
          </div>
        </th>
        <th scope="col" jhiSortBy="restaurant.name">
          <div class="d-flex">
            <span>Restaurant</span>
            <fa-icon class="p-1" icon="sort"></fa-icon>
          </div>
        </th>
        <th scope="col"></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let order of orders; trackBy: trackId" data-cy="entityTable">
        <td>
          <a [routerLink]="['/order', order.id, 'view']">{{ order.id }}</a>
        </td>
        <td>{{ order.orderNo }}</td>
        <td>{{ order.companyAmount }}</td>
        <td>{{ order.restaurantAmount }}</td>
        <td>{{ order.deliveryFee }}</td>
        <td>{{ order.itemsPrice }}</td>
        <td>{{ order.discount }}</td>
        <td>{{ order.total }}</td>
        <td>{{ order.latitude }}</td>
        <td>{{ order.longitude }}</td>
        <td>{{ order.plusCode }}</td>
        <td>{{ order.paymentType }}</td>
        <td>{{ order.isApprovedByDriver }}</td>
        <td>{{ order.isApprovedByRestaurant }}</td>
        <td>{{ order.isPayed }}</td>
        <td>{{ order.amountRecived }}</td>
        <td>{{ order.amountRemaining }}</td>
        <td>{{ order.customerNotes }}</td>
        <td>{{ order.restaurantNotes }}</td>
        <td>{{ order.driverNotes }}</td>
        <td>{{ order.orderStatus }}</td>
        <td>{{ order.orderType }}</td>
        <td>{{ order.deliveredAt | formatMediumDatetime }}</td>
        <td>{{ order.notes }}</td>
        <td>
          <div *ngIf="order.customer">
            <a [routerLink]="['/customer', order.customer.id, 'view']">{{ order.customer.name }}</a>
          </div>
        </td>
        <td>
          <div *ngIf="order.coupon">
            <a [routerLink]="['/coupon', order.coupon.id, 'view']">{{ order.coupon.code }}</a>
          </div>
        </td>
        <td>
          <div *ngIf="order.driver">
            <a [routerLink]="['/driver', order.driver.id, 'view']">{{ order.driver.name }}</a>
          </div>
        </td>
        <td>
          <div *ngIf="order.deliveryAddress">
            <a
              [routerLink]="['/delivery-address', order.deliveryAddress.id, 'view']">{{ order.deliveryAddress.address }}</a>
          </div>
        </td>
        <td>
          <div *ngIf="order.restaurant">
            <a [routerLink]="['/restaurant', order.restaurant.id, 'view']">{{ order.restaurant.name }}</a>
          </div>
        </td>
        <td class="text-end">
          <div class="btn-group">
            <button type="submit" [routerLink]="['/order', order.id, 'view']" class="btn btn-info btn-sm"
                    data-cy="entityDetailsButton">
              <fa-icon icon="eye"></fa-icon>
              <span class="d-none d-md-inline">View</span>
            </button>

            <button type="submit" [routerLink]="['/order', order.id, 'edit']" class="btn btn-primary btn-sm"
                    data-cy="entityEditButton">
              <fa-icon icon="pencil-alt"></fa-icon>
              <span class="d-none d-md-inline">Edit</span>
            </button>

            <button type="submit" (click)="delete(order)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
              <fa-icon icon="times"></fa-icon>
              <span class="d-none d-md-inline">Delete</span>
            </button>
          </div>
        </td>
      </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="orders && orders.length > 0">
    <div class="d-flex justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [page]="page"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="navigateToPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
