<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-food-image-heading" data-cy="FoodImageCreateUpdateHeading">Create or edit a Food Image</h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id"
                 [readonly]="true"/>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_description">Description</label>
          <input
            type="text"
            class="form-control"
            name="description"
            id="field_description"
            data-cy="description"
            formControlName="description"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_descriptionAr">Description Ar</label>
          <input
            type="text"
            class="form-control"
            name="descriptionAr"
            id="field_descriptionAr"
            data-cy="descriptionAr"
            formControlName="descriptionAr"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_descriptionEn">Description En</label>
          <input
            type="text"
            class="form-control"
            name="descriptionEn"
            id="field_descriptionEn"
            data-cy="descriptionEn"
            formControlName="descriptionEn"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_menuOrder">Menu Order</label>
          <input type="number" class="form-control" name="menuOrder" id="field_menuOrder" data-cy="menuOrder"
                 formControlName="menuOrder"/>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_imageUrl">Image Url</label>
          <input type="text" class="form-control" name="imageUrl" id="field_imageUrl" data-cy="imageUrl"
                 formControlName="imageUrl"/>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_image">Image</label>
          <div>
            <img
              [src]="'data:' + editForm.get('imageContentType')!.value + ';base64,' + editForm.get('image')!.value"
              style="max-height: 100px"
              *ngIf="editForm.get('image')!.value"
              alt="foodImage image"
            />
            <div *ngIf="editForm.get('image')!.value" class="form-text text-danger clearfix">
              <span class="pull-start">{{ editForm.get('imageContentType')!.value }}
                , {{ byteSize(editForm.get('image')!.value!) }}</span>
              <button
                type="button"
                (click)="clearInputImage('image', 'imageContentType', 'file_image')"
                class="btn btn-secondary btn-xs pull-end"
              >
                <fa-icon icon="times"></fa-icon>
              </button>
            </div>
            <input type="file" id="file_image" data-cy="image" (change)="setFileData($event, 'image', true)"
                   accept="image/*"/>
          </div>
          <input type="hidden" class="form-control" name="image" id="field_image" data-cy="image"
                 formControlName="image"/>
          <input
            type="hidden"
            class="form-control"
            name="imageContentType"
            id="field_imageContentType"
            formControlName="imageContentType"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_food">Food</label>
          <select class="form-control" id="field_food" data-cy="food" name="food" formControlName="food"
                  [compareWith]="compareFood">
            <option [ngValue]="null"></option>
            <option [ngValue]="foodOption"
                    *ngFor="let foodOption of foodsSharedCollection">{{ foodOption.name }}</option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary"
                (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
