<div>
  <h2 id="page-heading" data-cy="CartHeading">
    <span>Carts</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span>Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-cart"
        [routerLink]="['/cart/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span> Create a new Cart </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <jhi-filter [filters]="filters"></jhi-filter>

  <div class="alert alert-warning" id="no-result" *ngIf="carts?.length === 0">
    <span>No Carts found</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="carts && carts.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
      <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
        <th scope="col" jhiSortBy="id">
          <div class="d-flex">
            <span>ID</span>
            <fa-icon class="p-1" icon="sort"></fa-icon>
          </div>
        </th>
        <th scope="col" jhiSortBy="quantity">
          <div class="d-flex">
            <span>Quantity</span>
            <fa-icon class="p-1" icon="sort"></fa-icon>
          </div>
        </th>
        <th scope="col" jhiSortBy="customerNotes">
          <div class="d-flex">
            <span>Customer Notes</span>
            <fa-icon class="p-1" icon="sort"></fa-icon>
          </div>
        </th>
        <th scope="col" jhiSortBy="foodExtraIdsList">
          <div class="d-flex">
            <span>Food Extra Ids List</span>
            <fa-icon class="p-1" icon="sort"></fa-icon>
          </div>
        </th>
        <th scope="col" jhiSortBy="foodIngredientIds">
          <div class="d-flex">
            <span>Food Ingredient Ids</span>
            <fa-icon class="p-1" icon="sort"></fa-icon>
          </div>
        </th>
        <th scope="col" jhiSortBy="foodIngredientRemovedIds">
          <div class="d-flex">
            <span>Food Ingredient Removed Ids</span>
            <fa-icon class="p-1" icon="sort"></fa-icon>
          </div>
        </th>
        <th scope="col" jhiSortBy="customer.name">
          <div class="d-flex">
            <span>Customer</span>
            <fa-icon class="p-1" icon="sort"></fa-icon>
          </div>
        </th>
        <th scope="col" jhiSortBy="food.name">
          <div class="d-flex">
            <span>Food</span>
            <fa-icon class="p-1" icon="sort"></fa-icon>
          </div>
        </th>
        <th scope="col"></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let cart of carts; trackBy: trackId" data-cy="entityTable">
        <td>
          <a [routerLink]="['/cart', cart.id, 'view']">{{ cart.id }}</a>
        </td>
        <td>{{ cart.quantity }}</td>
        <td>{{ cart.customerNotes }}</td>
        <td>{{ cart.foodExtraIdsList }}</td>
        <td>{{ cart.foodIngredientIds }}</td>
        <td>{{ cart.foodIngredientRemovedIds }}</td>
        <td>
          <div *ngIf="cart.customer">
            <a [routerLink]="['/customer', cart.customer.id, 'view']">{{ cart.customer.name }}</a>
          </div>
        </td>
        <td>
          <div *ngIf="cart.food">
            <a [routerLink]="['/food', cart.food.id, 'view']">{{ cart.food.name }}</a>
          </div>
        </td>
        <td class="text-end">
          <div class="btn-group">
            <button type="submit" [routerLink]="['/cart', cart.id, 'view']" class="btn btn-info btn-sm"
                    data-cy="entityDetailsButton">
              <fa-icon icon="eye"></fa-icon>
              <span class="d-none d-md-inline">View</span>
            </button>

            <button type="submit" [routerLink]="['/cart', cart.id, 'edit']" class="btn btn-primary btn-sm"
                    data-cy="entityEditButton">
              <fa-icon icon="pencil-alt"></fa-icon>
              <span class="d-none d-md-inline">Edit</span>
            </button>

            <button type="submit" (click)="delete(cart)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
              <fa-icon icon="times"></fa-icon>
              <span class="d-none d-md-inline">Delete</span>
            </button>
          </div>
        </td>
      </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="carts && carts.length > 0">
    <div class="d-flex justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [page]="page"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="navigateToPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
