<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-restaurant-review-heading" data-cy="RestaurantReviewCreateUpdateHeading">Create or edit a Restaurant
        Review</h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id"
                 [readonly]="true"/>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_review">Review</label>
          <input type="text" class="form-control" name="review" id="field_review" data-cy="review"
                 formControlName="review"/>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_rate">Rate</label>
          <input type="number" class="form-control" name="rate" id="field_rate" data-cy="rate" formControlName="rate"/>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_isEdited">Is Edited</label>
          <input type="checkbox" class="form-check" name="isEdited" id="field_isEdited" data-cy="isEdited"
                 formControlName="isEdited"/>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_customer">Customer</label>
          <select
            class="form-control"
            id="field_customer"
            data-cy="customer"
            name="customer"
            formControlName="customer"
            [compareWith]="compareCustomer"
          >
            <option [ngValue]="null"></option>
            <option [ngValue]="customerOption"
                    *ngFor="let customerOption of customersSharedCollection">{{ customerOption.name }}</option>
          </select>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_restaurant">Restaurant</label>
          <select
            class="form-control"
            id="field_restaurant"
            data-cy="restaurant"
            name="restaurant"
            formControlName="restaurant"
            [compareWith]="compareRestaurant"
          >
            <option [ngValue]="null"></option>
            <option [ngValue]="restaurantOption" *ngFor="let restaurantOption of restaurantsSharedCollection">
              {{ restaurantOption.name }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary"
                (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
