<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-restaurant-schedule-heading" data-cy="RestaurantScheduleCreateUpdateHeading">Create or edit a
        Restaurant Schedule</h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id"
                 [readonly]="true"/>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_dayOfWeek">Day Of Week</label>
          <select class="form-control" name="dayOfWeek" formControlName="dayOfWeek" id="field_dayOfWeek"
                  data-cy="dayOfWeek">
            <option [ngValue]="null"></option>
            <option *ngFor="let dayOfWeek of dayOfWeekValues" [value]="dayOfWeek">{{ dayOfWeek }}</option>
          </select>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_openingTime">Opening Time</label>
          <input
            type="text"
            class="form-control"
            name="openingTime"
            id="field_openingTime"
            data-cy="openingTime"
            formControlName="openingTime"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_closingTime">Closing Time</label>
          <input
            type="text"
            class="form-control"
            name="closingTime"
            id="field_closingTime"
            data-cy="closingTime"
            formControlName="closingTime"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_restaurant">Restaurant</label>
          <select
            class="form-control"
            id="field_restaurant"
            data-cy="restaurant"
            name="restaurant"
            formControlName="restaurant"
            [compareWith]="compareRestaurant"
          >
            <option [ngValue]="null"></option>
            <option [ngValue]="restaurantOption" *ngFor="let restaurantOption of restaurantsSharedCollection">
              {{ restaurantOption.name }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary"
                (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
