<div class="entity-container">
  <div class="mat-elevation-z1 round-card white-bg p-4 mt-5">
    <div *ngIf="customerWallet">
      <h2 data-cy="customerWalletDetailsHeading"><span>Customer Wallet</span></h2>

      <hr/>

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ customerWallet.id }}</span>
        </dd>
        <dt><span>Transaction No</span></dt>
        <dd>
          <span>{{ customerWallet.transactionNo }}</span>
        </dd>
        <dt><span>Amount</span></dt>
        <dd>
          <span>{{ customerWallet.amount }}</span>
        </dd>
        <dt><span>Wallet Action</span></dt>
        <dd>
          <span>{{ customerWallet.walletAction }}</span>
        </dd>
        <dt><span>Total Before Action</span></dt>
        <dd>
          <span>{{ customerWallet.totalBeforeAction }}</span>
        </dd>
        <dt><span>Total After Action</span></dt>
        <dd>
          <span>{{ customerWallet.totalAfterAction }}</span>
        </dd>
        <dt><span>Payment Type</span></dt>
        <dd>
          <span>{{ customerWallet.paymentType }}</span>
        </dd>
        <dt><span>Payment Reference</span></dt>
        <dd>
          <span>{{ customerWallet.paymentReference }}</span>
        </dd>
        <dt><span>Order Id</span></dt>
        <dd>
          <span>{{ customerWallet.orderId }}</span>
        </dd>
        <dt><span>Notes</span></dt>
        <dd>
          <span>{{ customerWallet.notes }}</span>
        </dd>
        <dt><span>Customer</span></dt>
        <dd>
          <div *ngIf="customerWallet.customer">
            <a [routerLink]="['/customer', customerWallet.customer.id, 'view']">{{ customerWallet.customer.name }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/customer-wallet', customerWallet.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
