<div class="entity-container">
  <h2 id="page-heading" data-cy="CityHeading">
    <span>Cities</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span>Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-city"
        [routerLink]="['/city/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span> Create a new City </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <jhi-filter [filters]="filters"></jhi-filter>

  <div class="alert alert-warning" id="no-result" *ngIf="cities?.length === 0">
    <span>No Cities found</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="cities && cities.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
      <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
        <th scope="col" jhiSortBy="id">
          <div class="d-flex">
            <span>ID</span>
            <fa-icon class="p-1" icon="sort"></fa-icon>
          </div>
        </th>
        <th scope="col" jhiSortBy="name">
          <div class="d-flex">
            <span>Name</span>
            <fa-icon class="p-1" icon="sort"></fa-icon>
          </div>
        </th>
        <th scope="col" jhiSortBy="nameAr">
          <div class="d-flex">
            <span>Name Ar</span>
            <fa-icon class="p-1" icon="sort"></fa-icon>
          </div>
        </th>
        <th scope="col" jhiSortBy="nameEn">
          <div class="d-flex">
            <span>Name En</span>
            <fa-icon class="p-1" icon="sort"></fa-icon>
          </div>
        </th>
        <th scope="col" jhiSortBy="latitude">
          <div class="d-flex">
            <span>Latitude</span>
            <fa-icon class="p-1" icon="sort"></fa-icon>
          </div>
        </th>
        <th scope="col" jhiSortBy="longitude">
          <div class="d-flex">
            <span>Longitude</span>
            <fa-icon class="p-1" icon="sort"></fa-icon>
          </div>
        </th>
        <th scope="col" jhiSortBy="plusCode">
          <div class="d-flex">
            <span>Plus Code</span>
            <fa-icon class="p-1" icon="sort"></fa-icon>
          </div>
        </th>
        <th scope="col" jhiSortBy="radius">
          <div class="d-flex">
            <span>Radius</span>
            <fa-icon class="p-1" icon="sort"></fa-icon>
          </div>
        </th>
        <th scope="col" jhiSortBy="isActive">
          <div class="d-flex">
            <span>Is Active</span>
            <fa-icon class="p-1" icon="sort"></fa-icon>
          </div>
        </th>
        <th scope="col"></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let city of cities; trackBy: trackId" data-cy="entityTable">
        <td>
          <a [routerLink]="['/city', city.id, 'view']">{{ city.id }}</a>
        </td>
        <td>{{ city.name }}</td>
        <td>{{ city.nameAr }}</td>
        <td>{{ city.nameEn }}</td>
        <td>{{ city.latitude }}</td>
        <td>{{ city.longitude }}</td>
        <td>{{ city.plusCode }}</td>
        <td>{{ city.radius }}</td>
        <td>{{ city.isActive }}</td>
        <td class="text-end">
          <div class="btn-group">
            <button type="submit" [routerLink]="['/city', city.id, 'view']" class="btn btn-info btn-sm"
                    data-cy="entityDetailsButton">
              <fa-icon icon="eye"></fa-icon>
              <span class="d-none d-md-inline">View</span>
            </button>

            <button type="submit" [routerLink]="['/city', city.id, 'edit']" class="btn btn-primary btn-sm"
                    data-cy="entityEditButton">
              <fa-icon icon="pencil-alt"></fa-icon>
              <span class="d-none d-md-inline">Edit</span>
            </button>

            <button type="submit" (click)="delete(city)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
              <fa-icon icon="times"></fa-icon>
              <span class="d-none d-md-inline">Delete</span>
            </button>
          </div>
        </td>
      </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="cities && cities.length > 0">
    <div class="d-flex justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [page]="page"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="navigateToPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
