<div class="entity-container">
  <div class="mat-elevation-z1 round-card white-bg p-4 mt-5">
    <div *ngIf="zone">
      <h2 data-cy="zoneDetailsHeading"><span>Zone</span></h2>

      <hr/>

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ zone.id }}</span>
        </dd>
        <dt><span>Name</span></dt>
        <dd>
          <span>{{ zone.name }}</span>
        </dd>
        <dt><span>Name Ar</span></dt>
        <dd>
          <span>{{ zone.nameAr }}</span>
        </dd>
        <dt><span>Name En</span></dt>
        <dd>
          <span>{{ zone.nameEn }}</span>
        </dd>
        <dt><span>Latitude</span></dt>
        <dd>
          <span>{{ zone.latitude }}</span>
        </dd>
        <dt><span>Longitude</span></dt>
        <dd>
          <span>{{ zone.longitude }}</span>
        </dd>
        <dt><span>Plus Code</span></dt>
        <dd>
          <span>{{ zone.plusCode }}</span>
        </dd>
        <dt><span>Radius</span></dt>
        <dd>
          <span>{{ zone.radius }}</span>
        </dd>
        <dt><span>Is Active</span></dt>
        <dd>
          <span>{{ zone.isActive }}</span>
        </dd>
        <dt><span>Notes</span></dt>
        <dd>
          <span>{{ zone.notes }}</span>
        </dd>
        <dt><span>City</span></dt>
        <dd>
          <div *ngIf="zone.city">
            <a [routerLink]="['/city', zone.city.id, 'view']">{{ zone.city.name }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/zone', zone.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
