<div class="entity-container">
  <div class="mat-elevation-z1 round-card white-bg p-4 mt-5">
    <div *ngIf="restaurantDistancePrice">
      <h2 data-cy="restaurantDistancePriceDetailsHeading"><span>Restaurant Distance Price</span></h2>

      <hr/>

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ restaurantDistancePrice.id }}</span>
        </dd>
        <dt><span>Price</span></dt>
        <dd>
          <span>{{ restaurantDistancePrice.price }}</span>
        </dd>
        <dt><span>From Km</span></dt>
        <dd>
          <span>{{ restaurantDistancePrice.fromKm }}</span>
        </dd>
        <dt><span>To Km</span></dt>
        <dd>
          <span>{{ restaurantDistancePrice.toKm }}</span>
        </dd>
        <dt><span>Is Available</span></dt>
        <dd>
          <span>{{ restaurantDistancePrice.isAvailable }}</span>
        </dd>
        <dt><span>Restaurant</span></dt>
        <dd>
          <div *ngIf="restaurantDistancePrice.restaurant">
            <a [routerLink]="['/restaurant', restaurantDistancePrice.restaurant.id, 'view']">{{
              restaurantDistancePrice.restaurant.name
              }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/restaurant-distance-price', restaurantDistancePrice.id, 'edit']"
              class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
