<div class="entity-container">
  <h2 id="page-heading" data-cy="RestaurantZonePriceHeading">
    <span>Restaurant Zone Prices</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span>Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-restaurant-zone-price"
        [routerLink]="['/restaurant-zone-price/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span> Create a new Restaurant Zone Price </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <jhi-filter [filters]="filters"></jhi-filter>

  <div class="alert alert-warning" id="no-result" *ngIf="restaurantZonePrices?.length === 0">
    <span>No Restaurant Zone Prices found</span>
  </div>

  <div class="table-responsive table-entities" id="entities"
       *ngIf="restaurantZonePrices && restaurantZonePrices.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
      <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
        <th scope="col" jhiSortBy="id">
          <div class="d-flex">
            <span>ID</span>
            <fa-icon class="p-1" icon="sort"></fa-icon>
          </div>
        </th>
        <th scope="col" jhiSortBy="price">
          <div class="d-flex">
            <span>Price</span>
            <fa-icon class="p-1" icon="sort"></fa-icon>
          </div>
        </th>
        <th scope="col" jhiSortBy="isAvailable">
          <div class="d-flex">
            <span>Is Available</span>
            <fa-icon class="p-1" icon="sort"></fa-icon>
          </div>
        </th>
        <th scope="col" jhiSortBy="restaurant.name">
          <div class="d-flex">
            <span>Restaurant</span>
            <fa-icon class="p-1" icon="sort"></fa-icon>
          </div>
        </th>
        <th scope="col" jhiSortBy="zone.name">
          <div class="d-flex">
            <span>Zone</span>
            <fa-icon class="p-1" icon="sort"></fa-icon>
          </div>
        </th>
        <th scope="col"></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let restaurantZonePrice of restaurantZonePrices; trackBy: trackId" data-cy="entityTable">
        <td>
          <a [routerLink]="['/restaurant-zone-price', restaurantZonePrice.id, 'view']">{{ restaurantZonePrice.id }}</a>
        </td>
        <td>{{ restaurantZonePrice.price }}</td>
        <td>{{ restaurantZonePrice.isAvailable }}</td>
        <td>
          <div *ngIf="restaurantZonePrice.restaurant">
            <a
              [routerLink]="['/restaurant', restaurantZonePrice.restaurant.id, 'view']">{{ restaurantZonePrice.restaurant.name }}</a>
          </div>
        </td>
        <td>
          <div *ngIf="restaurantZonePrice.zone">
            <a [routerLink]="['/zone', restaurantZonePrice.zone.id, 'view']">{{ restaurantZonePrice.zone.name }}</a>
          </div>
        </td>
        <td class="text-end">
          <div class="btn-group">
            <button
              type="submit"
              [routerLink]="['/restaurant-zone-price', restaurantZonePrice.id, 'view']"
              class="btn btn-info btn-sm"
              data-cy="entityDetailsButton"
            >
              <fa-icon icon="eye"></fa-icon>
              <span class="d-none d-md-inline">View</span>
            </button>

            <button
              type="submit"
              [routerLink]="['/restaurant-zone-price', restaurantZonePrice.id, 'edit']"
              class="btn btn-primary btn-sm"
              data-cy="entityEditButton"
            >
              <fa-icon icon="pencil-alt"></fa-icon>
              <span class="d-none d-md-inline">Edit</span>
            </button>

            <button type="submit" (click)="delete(restaurantZonePrice)" class="btn btn-danger btn-sm"
                    data-cy="entityDeleteButton">
              <fa-icon icon="times"></fa-icon>
              <span class="d-none d-md-inline">Delete</span>
            </button>
          </div>
        </td>
      </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="restaurantZonePrices && restaurantZonePrices.length > 0">
    <div class="d-flex justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [page]="page"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="navigateToPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
