<div>
  <h2 id="page-heading" data-cy="CustomerWalletHeading">
    <span>Customer Wallets</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span>Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-customer-wallet"
        [routerLink]="['/customer-wallet/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span> Create a new Customer Wallet </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <jhi-filter [filters]="filters"></jhi-filter>

  <div class="alert alert-warning" id="no-result" *ngIf="customerWallets?.length === 0">
    <span>No Customer Wallets found</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="customerWallets && customerWallets.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
      <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
        <th scope="col" jhiSortBy="id">
          <div class="d-flex">
            <span>ID</span>
            <fa-icon class="p-1" icon="sort"></fa-icon>
          </div>
        </th>
        <th scope="col" jhiSortBy="transactionNo">
          <div class="d-flex">
            <span>Transaction No</span>
            <fa-icon class="p-1" icon="sort"></fa-icon>
          </div>
        </th>
        <th scope="col" jhiSortBy="amount">
          <div class="d-flex">
            <span>Amount</span>
            <fa-icon class="p-1" icon="sort"></fa-icon>
          </div>
        </th>
        <th scope="col" jhiSortBy="walletAction">
          <div class="d-flex">
            <span>Wallet Action</span>
            <fa-icon class="p-1" icon="sort"></fa-icon>
          </div>
        </th>
        <th scope="col" jhiSortBy="totalBeforeAction">
          <div class="d-flex">
            <span>Total Before Action</span>
            <fa-icon class="p-1" icon="sort"></fa-icon>
          </div>
        </th>
        <th scope="col" jhiSortBy="totalAfterAction">
          <div class="d-flex">
            <span>Total After Action</span>
            <fa-icon class="p-1" icon="sort"></fa-icon>
          </div>
        </th>
        <th scope="col" jhiSortBy="paymentType">
          <div class="d-flex">
            <span>Payment Type</span>
            <fa-icon class="p-1" icon="sort"></fa-icon>
          </div>
        </th>
        <th scope="col" jhiSortBy="paymentReference">
          <div class="d-flex">
            <span>Payment Reference</span>
            <fa-icon class="p-1" icon="sort"></fa-icon>
          </div>
        </th>
        <th scope="col" jhiSortBy="orderId">
          <div class="d-flex">
            <span>Order Id</span>
            <fa-icon class="p-1" icon="sort"></fa-icon>
          </div>
        </th>
        <th scope="col" jhiSortBy="notes">
          <div class="d-flex">
            <span>Notes</span>
            <fa-icon class="p-1" icon="sort"></fa-icon>
          </div>
        </th>
        <th scope="col" jhiSortBy="customer.name">
          <div class="d-flex">
            <span>Customer</span>
            <fa-icon class="p-1" icon="sort"></fa-icon>
          </div>
        </th>
        <th scope="col"></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let customerWallet of customerWallets; trackBy: trackId" data-cy="entityTable">
        <td>
          <a [routerLink]="['/customer-wallet', customerWallet.id, 'view']">{{ customerWallet.id }}</a>
        </td>
        <td>{{ customerWallet.transactionNo }}</td>
        <td>{{ customerWallet.amount }}</td>
        <td>{{ customerWallet.walletAction }}</td>
        <td>{{ customerWallet.totalBeforeAction }}</td>
        <td>{{ customerWallet.totalAfterAction }}</td>
        <td>{{ customerWallet.paymentType }}</td>
        <td>{{ customerWallet.paymentReference }}</td>
        <td>{{ customerWallet.orderId }}</td>
        <td>{{ customerWallet.notes }}</td>
        <td>
          <div *ngIf="customerWallet.customer">
            <a [routerLink]="['/customer', customerWallet.customer.id, 'view']">{{ customerWallet.customer.name }}</a>
          </div>
        </td>
        <td class="text-end">
          <div class="btn-group">
            <button
              type="submit"
              [routerLink]="['/customer-wallet', customerWallet.id, 'view']"
              class="btn btn-info btn-sm"
              data-cy="entityDetailsButton"
            >
              <fa-icon icon="eye"></fa-icon>
              <span class="d-none d-md-inline">View</span>
            </button>

            <button
              type="submit"
              [routerLink]="['/customer-wallet', customerWallet.id, 'edit']"
              class="btn btn-primary btn-sm"
              data-cy="entityEditButton"
            >
              <fa-icon icon="pencil-alt"></fa-icon>
              <span class="d-none d-md-inline">Edit</span>
            </button>

            <button type="submit" (click)="delete(customerWallet)" class="btn btn-danger btn-sm"
                    data-cy="entityDeleteButton">
              <fa-icon icon="times"></fa-icon>
              <span class="d-none d-md-inline">Delete</span>
            </button>
          </div>
        </td>
      </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="customerWallets && customerWallets.length > 0">
    <div class="d-flex justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [page]="page"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="navigateToPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
