<div class="entity-container">
  <div class="mat-elevation-z1 round-card white-bg p-4 mt-5">
    <div *ngIf="foodExtra">
      <h2 data-cy="foodExtraDetailsHeading"><span>Food Extra</span></h2>

      <hr/>

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ foodExtra.id }}</span>
        </dd>
        <dt><span>Name</span></dt>
        <dd>
          <span>{{ foodExtra.name }}</span>
        </dd>
        <dt><span>Name Ar</span></dt>
        <dd>
          <span>{{ foodExtra.nameAr }}</span>
        </dd>
        <dt><span>Name En</span></dt>
        <dd>
          <span>{{ foodExtra.nameEn }}</span>
        </dd>
        <dt><span>Price</span></dt>
        <dd>
          <span>{{ foodExtra.price }}</span>
        </dd>
        <dt><span>Notes</span></dt>
        <dd>
          <span>{{ foodExtra.notes }}</span>
        </dd>
        <dt><span>Food</span></dt>
        <dd>
          <div *ngIf="foodExtra.food">
            <a [routerLink]="['/food', foodExtra.food.id, 'view']">{{ foodExtra.food.name }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/food-extra', foodExtra.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
