<div class="entity-container">
  <h2 id="page-heading" data-cy="FoodIngredientHeading">
    <span>Food Ingredients</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span>Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-food-ingredient"
        [routerLink]="['/food-ingredient/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span> Create a new Food Ingredient </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <jhi-filter [filters]="filters"></jhi-filter>

  <div class="alert alert-warning" id="no-result" *ngIf="foodIngredients?.length === 0">
    <span>No Food Ingredients found</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="foodIngredients && foodIngredients.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
      <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
        <th scope="col" jhiSortBy="id">
          <div class="d-flex">
            <span>ID</span>
            <fa-icon class="p-1" icon="sort"></fa-icon>
          </div>
        </th>
        <th scope="col" jhiSortBy="name">
          <div class="d-flex">
            <span>Name</span>
            <fa-icon class="p-1" icon="sort"></fa-icon>
          </div>
        </th>
        <th scope="col" jhiSortBy="nameAr">
          <div class="d-flex">
            <span>Name Ar</span>
            <fa-icon class="p-1" icon="sort"></fa-icon>
          </div>
        </th>
        <th scope="col" jhiSortBy="nameEn">
          <div class="d-flex">
            <span>Name En</span>
            <fa-icon class="p-1" icon="sort"></fa-icon>
          </div>
        </th>
        <th scope="col" jhiSortBy="notes">
          <div class="d-flex">
            <span>Notes</span>
            <fa-icon class="p-1" icon="sort"></fa-icon>
          </div>
        </th>
        <th scope="col" jhiSortBy="food.name">
          <div class="d-flex">
            <span>Food</span>
            <fa-icon class="p-1" icon="sort"></fa-icon>
          </div>
        </th>
        <th scope="col"></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let foodIngredient of foodIngredients; trackBy: trackId" data-cy="entityTable">
        <td>
          <a [routerLink]="['/food-ingredient', foodIngredient.id, 'view']">{{ foodIngredient.id }}</a>
        </td>
        <td>{{ foodIngredient.name }}</td>
        <td>{{ foodIngredient.nameAr }}</td>
        <td>{{ foodIngredient.nameEn }}</td>
        <td>{{ foodIngredient.notes }}</td>
        <td>
          <div *ngIf="foodIngredient.food">
            <a [routerLink]="['/food', foodIngredient.food.id, 'view']">{{ foodIngredient.food.name }}</a>
          </div>
        </td>
        <td class="text-end">
          <div class="btn-group">
            <button
              type="submit"
              [routerLink]="['/food-ingredient', foodIngredient.id, 'view']"
              class="btn btn-info btn-sm"
              data-cy="entityDetailsButton"
            >
              <fa-icon icon="eye"></fa-icon>
              <span class="d-none d-md-inline">View</span>
            </button>

            <button
              type="submit"
              [routerLink]="['/food-ingredient', foodIngredient.id, 'edit']"
              class="btn btn-primary btn-sm"
              data-cy="entityEditButton"
            >
              <fa-icon icon="pencil-alt"></fa-icon>
              <span class="d-none d-md-inline">Edit</span>
            </button>

            <button type="submit" (click)="delete(foodIngredient)" class="btn btn-danger btn-sm"
                    data-cy="entityDeleteButton">
              <fa-icon icon="times"></fa-icon>
              <span class="d-none d-md-inline">Delete</span>
            </button>
          </div>
        </td>
      </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="foodIngredients && foodIngredients.length > 0">
    <div class="d-flex justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [page]="page"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="navigateToPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
