<div class="entity-container">
  <div class="mat-elevation-z1 round-card white-bg p-4 mt-5">
    <div *ngIf="category">
      <h2 data-cy="categoryDetailsHeading"><span>Category</span></h2>

      <hr/>

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ category.id }}</span>
        </dd>
        <dt><span>Name</span></dt>
        <dd>
          <span>{{ category.name }}</span>
        </dd>
        <dt><span>Name Ar</span></dt>
        <dd>
          <span>{{ category.nameAr }}</span>
        </dd>
        <dt><span>Name En</span></dt>
        <dd>
          <span>{{ category.nameEn }}</span>
        </dd>
        <dt><span>Menu Order</span></dt>
        <dd>
          <span>{{ category.menuOrder }}</span>
        </dd>
        <dt><span>Image Url</span></dt>
        <dd>
          <span>{{ category.imageUrl }}</span>
        </dd>
        <dt><span>Image</span></dt>
        <dd>
          <div *ngIf="category.image">
            <a (click)="openFile(category.image, category.imageContentType)">
              <img [src]="'data:' + category.imageContentType + ';base64,' + category.image" style="max-width: 100%"
                   alt="category image"/>
            </a>
            {{ category.imageContentType }}, {{ byteSize(category.image) }}
          </div>
        </dd>
        <dt><span>Notes</span></dt>
        <dd>
          <span>{{ category.notes }}</span>
        </dd>
        <dt><span>Is Active</span></dt>
        <dd>
          <span>{{ category.isActive }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/category', category.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
