<div class="entity-container">
  <div class="mat-elevation-z1 round-card white-bg p-4 mt-5">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-slider-heading" data-cy="SliderCreateUpdateHeading">Create or edit a Slider</h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id"
                 [readonly]="true"/>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_details">Details</label>
          <input type="text" class="form-control" name="details" id="field_details" data-cy="details"
                 formControlName="details"/>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_detailsAr">Details Ar</label>
          <input type="text" class="form-control" name="detailsAr" id="field_detailsAr" data-cy="detailsAr"
                 formControlName="detailsAr"/>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_detailsEn">Details En</label>
          <input type="text" class="form-control" name="detailsEn" id="field_detailsEn" data-cy="detailsEn"
                 formControlName="detailsEn"/>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_menuOrder">Menu Order</label>
          <input type="number" class="form-control" name="menuOrder" id="field_menuOrder" data-cy="menuOrder"
                 formControlName="menuOrder"/>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_imageUrl">Image Url</label>
          <input type="text" class="form-control" name="imageUrl" id="field_imageUrl" data-cy="imageUrl"
                 formControlName="imageUrl"/>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_image">Image</label>
          <div>
            <img
              [src]="'data:' + editForm.get('imageContentType')!.value + ';base64,' + editForm.get('image')!.value"
              style="max-height: 100px"
              *ngIf="editForm.get('image')!.value"
              alt="slider image"
            />
            <div *ngIf="editForm.get('image')!.value" class="form-text text-danger clearfix">
              <span class="pull-start">{{ editForm.get('imageContentType')!.value }}
                , {{ byteSize(editForm.get('image')!.value!) }}</span>
              <button
                type="button"
                (click)="clearInputImage('image', 'imageContentType', 'file_image')"
                class="btn btn-secondary btn-xs pull-end"
              >
                <fa-icon icon="times"></fa-icon>
              </button>
            </div>
            <input type="file" id="file_image" data-cy="image" (change)="setFileData($event, 'image', true)"
                   accept="image/*"/>
          </div>
          <input type="hidden" class="form-control" name="image" id="field_image" data-cy="image"
                 formControlName="image"/>
          <input
            type="hidden"
            class="form-control"
            name="imageContentType"
            id="field_imageContentType"
            formControlName="imageContentType"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_url">Url</label>
          <input type="text" class="form-control" name="url" id="field_url" data-cy="url" formControlName="url"/>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_restaurantId">Restaurant Id</label>
          <input
            type="number"
            class="form-control"
            name="restaurantId"
            id="field_restaurantId"
            data-cy="restaurantId"
            formControlName="restaurantId"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_categoryId">Category Id</label>
          <input
            type="number"
            class="form-control"
            name="categoryId"
            id="field_categoryId"
            data-cy="categoryId"
            formControlName="categoryId"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_foodId">Food Id</label>
          <input type="number" class="form-control" name="foodId" id="field_foodId" data-cy="foodId"
                 formControlName="foodId"/>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_notes">Notes</label>
          <input type="text" class="form-control" name="notes" id="field_notes" data-cy="notes"
                 formControlName="notes"/>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary"
                (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
