<div class="entity-container">
  <h2 id="page-heading" data-cy="CustomerHeading">
    <span>Customers</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span>Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-customer"
        [routerLink]="['/customer/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span> Create a new Customer </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <jhi-filter [filters]="filters"></jhi-filter>

  <div class="alert alert-warning" id="no-result" *ngIf="customers?.length === 0">
    <span>No Customers found</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="customers && customers.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
      <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
        <th scope="col" jhiSortBy="id">
          <div class="d-flex">
            <span>ID</span>
            <fa-icon class="p-1" icon="sort"></fa-icon>
          </div>
        </th>
        <th scope="col" jhiSortBy="name">
          <div class="d-flex">
            <span>Name</span>
            <fa-icon class="p-1" icon="sort"></fa-icon>
          </div>
        </th>
        <th scope="col" jhiSortBy="email">
          <div class="d-flex">
            <span>Email</span>
            <fa-icon class="p-1" icon="sort"></fa-icon>
          </div>
        </th>
        <th scope="col" jhiSortBy="mobileNo">
          <div class="d-flex">
            <span>Mobile No</span>
            <fa-icon class="p-1" icon="sort"></fa-icon>
          </div>
        </th>
        <th scope="col" jhiSortBy="googleId">
          <div class="d-flex">
            <span>Google Id</span>
            <fa-icon class="p-1" icon="sort"></fa-icon>
          </div>
        </th>
        <th scope="col" jhiSortBy="facebookId">
          <div class="d-flex">
            <span>Facebook Id</span>
            <fa-icon class="p-1" icon="sort"></fa-icon>
          </div>
        </th>
        <th scope="col" jhiSortBy="appleId">
          <div class="d-flex">
            <span>Apple Id</span>
            <fa-icon class="p-1" icon="sort"></fa-icon>
          </div>
        </th>
        <th scope="col" jhiSortBy="isBanned">
          <div class="d-flex">
            <span>Is Banned</span>
            <fa-icon class="p-1" icon="sort"></fa-icon>
          </div>
        </th>
        <th scope="col" jhiSortBy="isVerified">
          <div class="d-flex">
            <span>Is Verified</span>
            <fa-icon class="p-1" icon="sort"></fa-icon>
          </div>
        </th>
        <th scope="col" jhiSortBy="verifiedByEmail">
          <div class="d-flex">
            <span>Verified By Email</span>
            <fa-icon class="p-1" icon="sort"></fa-icon>
          </div>
        </th>
        <th scope="col" jhiSortBy="verifiedByMobileNo">
          <div class="d-flex">
            <span>Verified By Mobile No</span>
            <fa-icon class="p-1" icon="sort"></fa-icon>
          </div>
        </th>
        <th scope="col" jhiSortBy="walletPublicKey">
          <div class="d-flex">
            <span>Wallet Public Key</span>
            <fa-icon class="p-1" icon="sort"></fa-icon>
          </div>
        </th>
        <th scope="col" jhiSortBy="image">
          <div class="d-flex">
            <span>Image</span>
            <fa-icon class="p-1" icon="sort"></fa-icon>
          </div>
        </th>
        <th scope="col" jhiSortBy="imageUrl">
          <div class="d-flex">
            <span>Image Url</span>
            <fa-icon class="p-1" icon="sort"></fa-icon>
          </div>
        </th>
        <th scope="col" jhiSortBy="languageCode">
          <div class="d-flex">
            <span>Language Code</span>
            <fa-icon class="p-1" icon="sort"></fa-icon>
          </div>
        </th>
        <th scope="col" jhiSortBy="notes">
          <div class="d-flex">
            <span>Notes</span>
            <fa-icon class="p-1" icon="sort"></fa-icon>
          </div>
        </th>
        <th scope="col" jhiSortBy="user.id">
          <div class="d-flex">
            <span>User</span>
            <fa-icon class="p-1" icon="sort"></fa-icon>
          </div>
        </th>
        <th scope="col"></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let customer of customers; trackBy: trackId" data-cy="entityTable">
        <td>
          <a [routerLink]="['/customer', customer.id, 'view']">{{ customer.id }}</a>
        </td>
        <td>{{ customer.name }}</td>
        <td>{{ customer.email }}</td>
        <td>{{ customer.mobileNo }}</td>
        <td>{{ customer.googleId }}</td>
        <td>{{ customer.facebookId }}</td>
        <td>{{ customer.appleId }}</td>
        <td>{{ customer.isBanned }}</td>
        <td>{{ customer.isVerified }}</td>
        <td>{{ customer.verifiedByEmail }}</td>
        <td>{{ customer.verifiedByMobileNo }}</td>
        <td>{{ customer.walletPublicKey }}</td>
        <td>
          <a *ngIf="customer.image" (click)="openFile(customer.image, customer.imageContentType)">
            <img
              [src]="'data:' + customer.imageContentType + ';base64,' + customer.image"
              style="max-height: 30px"
              alt="customer image"
            />
          </a>
          <span *ngIf="customer.image">{{ customer.imageContentType }}, {{ byteSize(customer.image) }}</span>
        </td>
        <td>{{ customer.imageUrl }}</td>
        <td>{{ customer.languageCode }}</td>
        <td>{{ customer.notes }}</td>
        <td>
          {{ customer.user?.id }}
        </td>
        <td class="text-end">
          <div class="btn-group">
            <button
              type="submit"
              [routerLink]="['/customer', customer.id, 'view']"
              class="btn btn-info btn-sm"
              data-cy="entityDetailsButton"
            >
              <fa-icon icon="eye"></fa-icon>
              <span class="d-none d-md-inline">View</span>
            </button>

            <button
              type="submit"
              [routerLink]="['/customer', customer.id, 'edit']"
              class="btn btn-primary btn-sm"
              data-cy="entityEditButton"
            >
              <fa-icon icon="pencil-alt"></fa-icon>
              <span class="d-none d-md-inline">Edit</span>
            </button>

            <button type="submit" (click)="delete(customer)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
              <fa-icon icon="times"></fa-icon>
              <span class="d-none d-md-inline">Delete</span>
            </button>
          </div>
        </td>
      </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="customers && customers.length > 0">
    <div class="d-flex justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [page]="page"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="navigateToPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
