<div>
  <h2 id="page-heading" data-cy="FoodImageHeading">
    <span>Food Images</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span>Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-food-image"
        [routerLink]="['/food-image/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span> Create a new Food Image </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <jhi-filter [filters]="filters"></jhi-filter>

  <div class="alert alert-warning" id="no-result" *ngIf="foodImages?.length === 0">
    <span>No Food Images found</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="foodImages && foodImages.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
      <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
        <th scope="col" jhiSortBy="id">
          <div class="d-flex">
            <span>ID</span>
            <fa-icon class="p-1" icon="sort"></fa-icon>
          </div>
        </th>
        <th scope="col" jhiSortBy="description">
          <div class="d-flex">
            <span>Description</span>
            <fa-icon class="p-1" icon="sort"></fa-icon>
          </div>
        </th>
        <th scope="col" jhiSortBy="descriptionAr">
          <div class="d-flex">
            <span>Description Ar</span>
            <fa-icon class="p-1" icon="sort"></fa-icon>
          </div>
        </th>
        <th scope="col" jhiSortBy="descriptionEn">
          <div class="d-flex">
            <span>Description En</span>
            <fa-icon class="p-1" icon="sort"></fa-icon>
          </div>
        </th>
        <th scope="col" jhiSortBy="menuOrder">
          <div class="d-flex">
            <span>Menu Order</span>
            <fa-icon class="p-1" icon="sort"></fa-icon>
          </div>
        </th>
        <th scope="col" jhiSortBy="imageUrl">
          <div class="d-flex">
            <span>Image Url</span>
            <fa-icon class="p-1" icon="sort"></fa-icon>
          </div>
        </th>
        <th scope="col" jhiSortBy="image">
          <div class="d-flex">
            <span>Image</span>
            <fa-icon class="p-1" icon="sort"></fa-icon>
          </div>
        </th>
        <th scope="col" jhiSortBy="food.name">
          <div class="d-flex">
            <span>Food</span>
            <fa-icon class="p-1" icon="sort"></fa-icon>
          </div>
        </th>
        <th scope="col"></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let foodImage of foodImages; trackBy: trackId" data-cy="entityTable">
        <td>
          <a [routerLink]="['/food-image', foodImage.id, 'view']">{{ foodImage.id }}</a>
        </td>
        <td>{{ foodImage.description }}</td>
        <td>{{ foodImage.descriptionAr }}</td>
        <td>{{ foodImage.descriptionEn }}</td>
        <td>{{ foodImage.menuOrder }}</td>
        <td>{{ foodImage.imageUrl }}</td>
        <td>
          <a *ngIf="foodImage.image" (click)="openFile(foodImage.image, foodImage.imageContentType)">
            <img
              [src]="'data:' + foodImage.imageContentType + ';base64,' + foodImage.image"
              style="max-height: 30px"
              alt="foodImage image"
            />
          </a>
          <span *ngIf="foodImage.image">{{ foodImage.imageContentType }}, {{ byteSize(foodImage.image) }}</span>
        </td>
        <td>
          <div *ngIf="foodImage.food">
            <a [routerLink]="['/food', foodImage.food.id, 'view']">{{ foodImage.food.name }}</a>
          </div>
        </td>
        <td class="text-end">
          <div class="btn-group">
            <button
              type="submit"
              [routerLink]="['/food-image', foodImage.id, 'view']"
              class="btn btn-info btn-sm"
              data-cy="entityDetailsButton"
            >
              <fa-icon icon="eye"></fa-icon>
              <span class="d-none d-md-inline">View</span>
            </button>

            <button
              type="submit"
              [routerLink]="['/food-image', foodImage.id, 'edit']"
              class="btn btn-primary btn-sm"
              data-cy="entityEditButton"
            >
              <fa-icon icon="pencil-alt"></fa-icon>
              <span class="d-none d-md-inline">Edit</span>
            </button>

            <button type="submit" (click)="delete(foodImage)" class="btn btn-danger btn-sm"
                    data-cy="entityDeleteButton">
              <fa-icon icon="times"></fa-icon>
              <span class="d-none d-md-inline">Delete</span>
            </button>
          </div>
        </td>
      </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="foodImages && foodImages.length > 0">
    <div class="d-flex justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [page]="page"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="navigateToPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
