<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-food-order-heading" data-cy="FoodOrderCreateUpdateHeading">Create or edit a Food Order</h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id"
                 [readonly]="true"/>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_price">Price</label>
          <input type="number" class="form-control" name="price" id="field_price" data-cy="price"
                 formControlName="price"/>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_quantity">Quantity</label>
          <input type="number" class="form-control" name="quantity" id="field_quantity" data-cy="quantity"
                 formControlName="quantity"/>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_total">Total</label>
          <input type="number" class="form-control" name="total" id="field_total" data-cy="total"
                 formControlName="total"/>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_specialNotes">Special Notes</label>
          <input
            type="text"
            class="form-control"
            name="specialNotes"
            id="field_specialNotes"
            data-cy="specialNotes"
            formControlName="specialNotes"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_foodExtraIdsList">Food Extra Ids List</label>
          <input
            type="text"
            class="form-control"
            name="foodExtraIdsList"
            id="field_foodExtraIdsList"
            data-cy="foodExtraIdsList"
            formControlName="foodExtraIdsList"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_foodIngredientIds">Food Ingredient Ids</label>
          <input
            type="text"
            class="form-control"
            name="foodIngredientIds"
            id="field_foodIngredientIds"
            data-cy="foodIngredientIds"
            formControlName="foodIngredientIds"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_foodIngredientRemovedIds">Food Ingredient Removed Ids</label>
          <input
            type="text"
            class="form-control"
            name="foodIngredientRemovedIds"
            id="field_foodIngredientRemovedIds"
            data-cy="foodIngredientRemovedIds"
            formControlName="foodIngredientRemovedIds"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_order">Order</label>
          <select class="form-control" id="field_order" data-cy="order" name="order" formControlName="order"
                  [compareWith]="compareOrder">
            <option [ngValue]="null"></option>
            <option [ngValue]="orderOption"
                    *ngFor="let orderOption of ordersSharedCollection">{{ orderOption.orderNo }}</option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary"
                (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
