<div>
  <h2 id="page-heading" data-cy="DeliveryAddressHeading">
    <span>Delivery Addresses</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span>Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-delivery-address"
        [routerLink]="['/delivery-address/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span> Create a new Delivery Address </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <jhi-filter [filters]="filters"></jhi-filter>

  <div class="alert alert-warning" id="no-result" *ngIf="deliveryAddresses?.length === 0">
    <span>No Delivery Addresses found</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="deliveryAddresses && deliveryAddresses.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
      <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
        <th scope="col" jhiSortBy="id">
          <div class="d-flex">
            <span>ID</span>
            <fa-icon class="p-1" icon="sort"></fa-icon>
          </div>
        </th>
        <th scope="col" jhiSortBy="title">
          <div class="d-flex">
            <span>Title</span>
            <fa-icon class="p-1" icon="sort"></fa-icon>
          </div>
        </th>
        <th scope="col" jhiSortBy="address">
          <div class="d-flex">
            <span>Address</span>
            <fa-icon class="p-1" icon="sort"></fa-icon>
          </div>
        </th>
        <th scope="col" jhiSortBy="details">
          <div class="d-flex">
            <span>Details</span>
            <fa-icon class="p-1" icon="sort"></fa-icon>
          </div>
        </th>
        <th scope="col" jhiSortBy="phone">
          <div class="d-flex">
            <span>Phone</span>
            <fa-icon class="p-1" icon="sort"></fa-icon>
          </div>
        </th>
        <th scope="col" jhiSortBy="isDefault">
          <div class="d-flex">
            <span>Is Default</span>
            <fa-icon class="p-1" icon="sort"></fa-icon>
          </div>
        </th>
        <th scope="col" jhiSortBy="latitude">
          <div class="d-flex">
            <span>Latitude</span>
            <fa-icon class="p-1" icon="sort"></fa-icon>
          </div>
        </th>
        <th scope="col" jhiSortBy="longitude">
          <div class="d-flex">
            <span>Longitude</span>
            <fa-icon class="p-1" icon="sort"></fa-icon>
          </div>
        </th>
        <th scope="col" jhiSortBy="plusCode">
          <div class="d-flex">
            <span>Plus Code</span>
            <fa-icon class="p-1" icon="sort"></fa-icon>
          </div>
        </th>
        <th scope="col" jhiSortBy="isActive">
          <div class="d-flex">
            <span>Is Active</span>
            <fa-icon class="p-1" icon="sort"></fa-icon>
          </div>
        </th>
        <th scope="col" jhiSortBy="notes">
          <div class="d-flex">
            <span>Notes</span>
            <fa-icon class="p-1" icon="sort"></fa-icon>
          </div>
        </th>
        <th scope="col" jhiSortBy="customer.name">
          <div class="d-flex">
            <span>Customer</span>
            <fa-icon class="p-1" icon="sort"></fa-icon>
          </div>
        </th>
        <th scope="col" jhiSortBy="zone.name">
          <div class="d-flex">
            <span>Zone</span>
            <fa-icon class="p-1" icon="sort"></fa-icon>
          </div>
        </th>
        <th scope="col"></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let deliveryAddress of deliveryAddresses; trackBy: trackId" data-cy="entityTable">
        <td>
          <a [routerLink]="['/delivery-address', deliveryAddress.id, 'view']">{{ deliveryAddress.id }}</a>
        </td>
        <td>{{ deliveryAddress.title }}</td>
        <td>{{ deliveryAddress.address }}</td>
        <td>{{ deliveryAddress.details }}</td>
        <td>{{ deliveryAddress.phone }}</td>
        <td>{{ deliveryAddress.isDefault }}</td>
        <td>{{ deliveryAddress.latitude }}</td>
        <td>{{ deliveryAddress.longitude }}</td>
        <td>{{ deliveryAddress.plusCode }}</td>
        <td>{{ deliveryAddress.isActive }}</td>
        <td>{{ deliveryAddress.notes }}</td>
        <td>
          <div *ngIf="deliveryAddress.customer">
            <a [routerLink]="['/customer', deliveryAddress.customer.id, 'view']">{{ deliveryAddress.customer.name }}</a>
          </div>
        </td>
        <td>
          <div *ngIf="deliveryAddress.zone">
            <a [routerLink]="['/zone', deliveryAddress.zone.id, 'view']">{{ deliveryAddress.zone.name }}</a>
          </div>
        </td>
        <td class="text-end">
          <div class="btn-group">
            <button
              type="submit"
              [routerLink]="['/delivery-address', deliveryAddress.id, 'view']"
              class="btn btn-info btn-sm"
              data-cy="entityDetailsButton"
            >
              <fa-icon icon="eye"></fa-icon>
              <span class="d-none d-md-inline">View</span>
            </button>

            <button
              type="submit"
              [routerLink]="['/delivery-address', deliveryAddress.id, 'edit']"
              class="btn btn-primary btn-sm"
              data-cy="entityEditButton"
            >
              <fa-icon icon="pencil-alt"></fa-icon>
              <span class="d-none d-md-inline">Edit</span>
            </button>

            <button type="submit" (click)="delete(deliveryAddress)" class="btn btn-danger btn-sm"
                    data-cy="entityDeleteButton">
              <fa-icon icon="times"></fa-icon>
              <span class="d-none d-md-inline">Delete</span>
            </button>
          </div>
        </td>
      </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="deliveryAddresses && deliveryAddresses.length > 0">
    <div class="d-flex justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [page]="page"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="navigateToPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
