<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="restaurantZonePrice">
      <h2 data-cy="restaurantZonePriceDetailsHeading"><span>Restaurant Zone Price</span></h2>

      <hr/>

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ restaurantZonePrice.id }}</span>
        </dd>
        <dt><span>Price</span></dt>
        <dd>
          <span>{{ restaurantZonePrice.price }}</span>
        </dd>
        <dt><span>Is Available</span></dt>
        <dd>
          <span>{{ restaurantZonePrice.isAvailable }}</span>
        </dd>
        <dt><span>Restaurant</span></dt>
        <dd>
          <div *ngIf="restaurantZonePrice.restaurant">
            <a
              [routerLink]="['/restaurant', restaurantZonePrice.restaurant.id, 'view']">{{ restaurantZonePrice.restaurant.name }}</a>
          </div>
        </dd>
        <dt><span>Zone</span></dt>
        <dd>
          <div *ngIf="restaurantZonePrice.zone">
            <a [routerLink]="['/zone', restaurantZonePrice.zone.id, 'view']">{{ restaurantZonePrice.zone.name }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/restaurant-zone-price', restaurantZonePrice.id, 'edit']"
              class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
