<div class="entity-container">
  <div class="mat-elevation-z1 round-card white-bg p-4 mt-5">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-zone-heading" data-cy="ZoneCreateUpdateHeading">Create or edit a Zone</h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id"
                 [readonly]="true"/>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_name">Name</label>
          <input type="text" class="form-control" name="name" id="field_name" data-cy="name" formControlName="name"/>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_nameAr">Name Ar</label>
          <input type="text" class="form-control" name="nameAr" id="field_nameAr" data-cy="nameAr"
                 formControlName="nameAr"/>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_nameEn">Name En</label>
          <input type="text" class="form-control" name="nameEn" id="field_nameEn" data-cy="nameEn"
                 formControlName="nameEn"/>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_latitude">Latitude</label>
          <input type="number" class="form-control" name="latitude" id="field_latitude" data-cy="latitude"
                 formControlName="latitude"/>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_longitude">Longitude</label>
          <input type="number" class="form-control" name="longitude" id="field_longitude" data-cy="longitude"
                 formControlName="longitude"/>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_plusCode">Plus Code</label>
          <input type="text" class="form-control" name="plusCode" id="field_plusCode" data-cy="plusCode"
                 formControlName="plusCode"/>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_radius">Radius</label>
          <input type="number" class="form-control" name="radius" id="field_radius" data-cy="radius"
                 formControlName="radius"/>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_isActive">Is Active</label>
          <input type="checkbox" class="form-check" name="isActive" id="field_isActive" data-cy="isActive"
                 formControlName="isActive"/>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_notes">Notes</label>
          <input type="text" class="form-control" name="notes" id="field_notes" data-cy="notes"
                 formControlName="notes"/>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_city">City</label>
          <select class="form-control" id="field_city" data-cy="city" name="city" formControlName="city"
                  [compareWith]="compareCity">
            <option [ngValue]="null"></option>
            <option [ngValue]="cityOption"
                    *ngFor="let cityOption of citiesSharedCollection">{{ cityOption.name }}</option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary"
                (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
