<div class="wide-container">
  <div style="min-height: 400px">
    <div class="row d-flex p-5 align-items-center main-container mx-auto">
      <div class="col-12 text-sm-right col-sm-6 text-center">
        <h3 class="primary">بيادجو</h3>
      </div>
    </div>

    <div class="card-container m-5">
      <mat-card class="example-ripple mat-elevation-z1 round-card d-flex flex-column" matRipple routerLink="login">
        <strong>الدخول الى النظام</strong>
        <br/>
        <p>الدخول الى النظام</p>
        <div class="text-left">
          <button mat-mini-fab class="mat-elevation-z0" color="primary" routerLink="login">
            <mat-icon>chevron_left</mat-icon>
          </button>
        </div>
      </mat-card>

    </div>
  </div>
</div>
