<div class="entity-container">
  <div class="mat-elevation-z1 round-card white-bg p-4 mt-5">
    <div *ngIf="driverLocation">
      <h2 data-cy="driverLocationDetailsHeading"><span>Driver Location</span></h2>

      <hr/>

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ driverLocation.id }}</span>
        </dd>
        <dt><span>Latitude</span></dt>
        <dd>
          <span>{{ driverLocation.latitude }}</span>
        </dd>
        <dt><span>Longitude</span></dt>
        <dd>
          <span>{{ driverLocation.longitude }}</span>
        </dd>
        <dt><span>Plus Code</span></dt>
        <dd>
          <span>{{ driverLocation.plusCode }}</span>
        </dd>
        <dt><span>Location Date Time</span></dt>
        <dd>
          <span>{{ driverLocation.locationDateTime | formatMediumDatetime }}</span>
        </dd>
        <dt><span>Driver</span></dt>
        <dd>
          <div *ngIf="driverLocation.driver">
            <a [routerLink]="['/driver', driverLocation.driver.id, 'view']">{{ driverLocation.driver.name }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/driver-location', driverLocation.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
