<div class="entity-container">
  <div class="mat-elevation-z1 round-card white-bg p-4 mt-5">
    <div *ngIf="food">
      <h2 data-cy="foodDetailsHeading"><span>Food</span></h2>

      <hr/>

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ food.id }}</span>
        </dd>
        <dt><span>Name</span></dt>
        <dd>
          <span>{{ food.name }}</span>
        </dd>
        <dt><span>Name Ar</span></dt>
        <dd>
          <span>{{ food.nameAr }}</span>
        </dd>
        <dt><span>Name En</span></dt>
        <dd>
          <span>{{ food.nameEn }}</span>
        </dd>
        <dt><span>Price</span></dt>
        <dd>
          <span>{{ food.price }}</span>
        </dd>
        <dt><span>Discount Price</span></dt>
        <dd>
          <span>{{ food.discountPrice }}</span>
        </dd>
        <dt><span>Description</span></dt>
        <dd>
          <span>{{ food.description }}</span>
        </dd>
        <dt><span>Description Ar</span></dt>
        <dd>
          <span>{{ food.descriptionAr }}</span>
        </dd>
        <dt><span>Description En</span></dt>
        <dd>
          <span>{{ food.descriptionEn }}</span>
        </dd>
        <dt><span>Package Items Count</span></dt>
        <dd>
          <span>{{ food.packageItemsCount }}</span>
        </dd>
        <dt><span>Daily Quantity</span></dt>
        <dd>
          <span>{{ food.dailyQuantity }}</span>
        </dd>
        <dt><span>Is Available</span></dt>
        <dd>
          <span>{{ food.isAvailable }}</span>
        </dd>
        <dt><span>Is Discount</span></dt>
        <dd>
          <span>{{ food.isDiscount }}</span>
        </dd>
        <dt><span>Is Featured</span></dt>
        <dd>
          <span>{{ food.isFeatured }}</span>
        </dd>
        <dt><span>Is Active</span></dt>
        <dd>
          <span>{{ food.isActive }}</span>
        </dd>
        <dt><span>View Counter</span></dt>
        <dd>
          <span>{{ food.viewCounter }}</span>
        </dd>
        <dt><span>Notes</span></dt>
        <dd>
          <span>{{ food.notes }}</span>
        </dd>
        <dt><span>Restaurant</span></dt>
        <dd>
          <div *ngIf="food.restaurant">
            <a [routerLink]="['/restaurant', food.restaurant.id, 'view']">{{ food.restaurant.name }}</a>
          </div>
        </dd>
        <dt><span>Category</span></dt>
        <dd>
          <div *ngIf="food.category">
            <a [routerLink]="['/category', food.category.id, 'view']">{{ food.category.name }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/food', food.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
