<div class="entity-container">
  <h2 id="page-heading" data-cy="CouponHeading">
    <span>Coupons</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span>Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-coupon"
        [routerLink]="['/coupon/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span> Create a new Coupon </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <jhi-filter [filters]="filters"></jhi-filter>

  <div class="alert alert-warning" id="no-result" *ngIf="coupons?.length === 0">
    <span>No Coupons found</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="coupons && coupons.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
      <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
        <th scope="col" jhiSortBy="id">
          <div class="d-flex">
            <span>ID</span>
            <fa-icon class="p-1" icon="sort"></fa-icon>
          </div>
        </th>
        <th scope="col" jhiSortBy="code">
          <div class="d-flex">
            <span>Code</span>
            <fa-icon class="p-1" icon="sort"></fa-icon>
          </div>
        </th>
        <th scope="col" jhiSortBy="couponType">
          <div class="d-flex">
            <span>Coupon Type</span>
            <fa-icon class="p-1" icon="sort"></fa-icon>
          </div>
        </th>
        <th scope="col" jhiSortBy="amount">
          <div class="d-flex">
            <span>Amount</span>
            <fa-icon class="p-1" icon="sort"></fa-icon>
          </div>
        </th>
        <th scope="col" jhiSortBy="minimumAmount">
          <div class="d-flex">
            <span>Minimum Amount</span>
            <fa-icon class="p-1" icon="sort"></fa-icon>
          </div>
        </th>
        <th scope="col" jhiSortBy="useLimit">
          <div class="d-flex">
            <span>Use Limit</span>
            <fa-icon class="p-1" icon="sort"></fa-icon>
          </div>
        </th>
        <th scope="col" jhiSortBy="useCount">
          <div class="d-flex">
            <span>Use Count</span>
            <fa-icon class="p-1" icon="sort"></fa-icon>
          </div>
        </th>
        <th scope="col" jhiSortBy="expiryDate">
          <div class="d-flex">
            <span>Expiry Date</span>
            <fa-icon class="p-1" icon="sort"></fa-icon>
          </div>
        </th>
        <th scope="col" jhiSortBy="isActive">
          <div class="d-flex">
            <span>Is Active</span>
            <fa-icon class="p-1" icon="sort"></fa-icon>
          </div>
        </th>
        <th scope="col" jhiSortBy="notes">
          <div class="d-flex">
            <span>Notes</span>
            <fa-icon class="p-1" icon="sort"></fa-icon>
          </div>
        </th>
        <th scope="col"></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let coupon of coupons; trackBy: trackId" data-cy="entityTable">
        <td>
          <a [routerLink]="['/coupon', coupon.id, 'view']">{{ coupon.id }}</a>
        </td>
        <td>{{ coupon.code }}</td>
        <td>{{ coupon.couponType }}</td>
        <td>{{ coupon.amount }}</td>
        <td>{{ coupon.minimumAmount }}</td>
        <td>{{ coupon.useLimit }}</td>
        <td>{{ coupon.useCount }}</td>
        <td>{{ coupon.expiryDate | formatMediumDate }}</td>
        <td>{{ coupon.isActive }}</td>
        <td>{{ coupon.notes }}</td>
        <td class="text-end">
          <div class="btn-group">
            <button type="submit" [routerLink]="['/coupon', coupon.id, 'view']" class="btn btn-info btn-sm"
                    data-cy="entityDetailsButton">
              <fa-icon icon="eye"></fa-icon>
              <span class="d-none d-md-inline">View</span>
            </button>

            <button type="submit" [routerLink]="['/coupon', coupon.id, 'edit']" class="btn btn-primary btn-sm"
                    data-cy="entityEditButton">
              <fa-icon icon="pencil-alt"></fa-icon>
              <span class="d-none d-md-inline">Edit</span>
            </button>

            <button type="submit" (click)="delete(coupon)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
              <fa-icon icon="times"></fa-icon>
              <span class="d-none d-md-inline">Delete</span>
            </button>
          </div>
        </td>
      </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="coupons && coupons.length > 0">
    <div class="d-flex justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [page]="page"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="navigateToPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
