<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="appSetting">
      <h2 data-cy="appSettingDetailsHeading"><span>App Setting</span></h2>

      <hr/>

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ appSetting.id }}</span>
        </dd>
        <dt><span>Name</span></dt>
        <dd>
          <span>{{ appSetting.name }}</span>
        </dd>
        <dt><span>Key</span></dt>
        <dd>
          <span>{{ appSetting.key }}</span>
        </dd>
        <dt><span>Type</span></dt>
        <dd>
          <span>{{ appSetting.type }}</span>
        </dd>
        <dt><span>Value</span></dt>
        <dd>
          <span>{{ appSetting.value }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/app-setting', appSetting.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
